.movie-card {
    width: 300px;
    height: 350px;
    border: 1px solid #666;
    position: relative;
    padding: 0.5rem;
    border-radius: 10px;
}

.movie-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.movie-card p {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #f5c518;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
}

.info-card {
    display: inline-flex;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-top: 20px;
    margin: auto
}

.info-card img {
    width: 350px;
    border-radius: 10px 0 0 10px;

}

.info-card h1 {
    font-size: 40px;
}

.info-card p {
    font-size: 20px;
    max-width: 700px;

}

.title-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    /* font-size: 30px; */
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #f5c518;
    color: #f5c518;
    background-color: white;
    margin-bottom: 10px;
}

.add-btn {
    padding: 0.5em 1rem;
    background-color: #f5c518;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}